@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #222;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  color: #fff;
}

.portals {
  display: flex;
  flex-wrap: wrap;
}

.portal {
  border: solid 2px purple;
  padding: 1em;
  margin: 1em;
  border-radius: 1em;
}

.portal-name {
  font-size: 2em;
  font-family: futura;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.dimension {
  border: solid white 2px;
  border-radius: 0.5em;
  padding: 1em;
}

.dimension-name {
  margin-top: 0;
}

a {
  list-style-type: none;
}

.project-name {
  font-size: larger;
  font-family: futura;
  text-transform: uppercase;
}

.project-type {
  font-style: italic;
}

.project-type::after {
  content: " ";
}

#time-line {
  stroke: red;
  width: 10px;
}

#time-markers {
  transform: translate(0, 40);
  transform: translate(0, 40);
}

#timeline-board {
  width: 100%;
  /* height: 3000px; */
}

#timeline-board text {
  fill: #fff;
  /* stroke: none; */
}

#timeline-board circle {
  fill: red;
}
